node_modules
.turbo
**/.turbo
dist
coverage
.superpowers
apps/electron/test-results
apps/electron/electron.vite.config.*.mjs
apps/desktop/test-results
.changeset/*.md
pnpm-lock.yaml
apps/admin/public/tinymce/**
apps/admin/src/iconify/data.json
apps/admin/src/iconify/index.json
apps/admin/src/types/auto-imports.d.ts
apps/admin/src/types/components.d.ts
apps/miniapp/src/types/auto-imports.d.ts
apps/miniapp/src/types/components.d.ts
